    <div class="search">
    <div class="search-container">
        <input type="text" id="search" placeholder="{{ site.data.trans[page.lang].search }}">
        <label for="search">search</a>
    </div>

    <div class="sort-container">
        <button class="popular">{{ site.data.trans[page.lang].popular }}</button>
        <button data-dropdown="#alphabetical-dropdown" class="az-sort">A - Z</button>
        <button data-dropdown="#number-dropdown" class="09-sort">0 - 9</button>
        <button data-dropdown="#availability-dropdown" class="diff-sort">{{ site.data.trans[page.lang].availability }}</button>
        <button class="reset">{{ site.data.trans[page.lang].reset }}</button>
    </div>
</div>

<main>
    <section class="sites" id="sites">
        <p class="no-results">{{ site.data.trans[page.lang].noresults }} <a href='https://github.com/sealldeveloper/incredibox-downloads-index'>{{ site.data.trans[page.lang].noresultshelp }}</a>.</p>

        {% for entry in site.data.sites %}
            <section class="site-block {{ entry.availability }}"{% if entry.meta == 'popular' %} data-popular{% endif %}>
                {% capture lang_url %}url_{{ page.lang }}{% endcapture %}
                <a class="site-header" href="{% if entry[lang_url] %}{{ entry[lang_url] }}{% elsif entry.url %}{{ entry.url }}{% else %}{ 'javascript:window.location.href=window.location.href' }{% endif %}">
                    <span class="name">{{ entry.name }}</span>
                    <img class="icon" src="{{ site.url }}/assets/icons/link.svg" alt="URL" />
                </a>

                <p class="site-availability">
                    {% if entry.availability == 'downloadable' %}
                        {{ site.data.trans[page.lang].availability_downloadable }}
                    {% elsif entry.availability == 'partially' %}
                        {{ site.data.trans[page.lang].availability_partially }}
                    {% elsif entry.availability == 'unfinished' %}
                        {{ site.data.trans[page.lang].availability_unfinished }}
                    {% elsif entry.availability == 'lost' %}
                        {{ site.data.trans[page.lang].availability_lost }}
                    {% elsif entry.availability == 'unavailable' %}
                        {{ site.data.trans[page.lang].availability_unavailable }}
                    {% endif %}
                </p>

                {% capture lang_notes %}notes_{{ page.lang }}{% endcapture %}
                {% if entry.notes or entry[lang_notes] or entry.email or entry.availability == 'downloadable' %}
                    <div class="tooltip-content">
                        {% if entry[lang_notes] %}
                            {{ entry[lang_notes] }}
                        {% elsif entry.notes %}
                            {{ entry.notes }}
                        {% elsif entry.availability == 'downloadable' %}
                            {{ site.data.trans[page.lang].defaultnote_downloadable }}
                        {% endif %}
                    </div>
                    <a href="#" class="tooltip-toggle contains-info">
                        <span class="show-info">{{ site.data.trans[page.lang].showinfo }}</span>
                        <span class="hide-info">{{ site.data.trans[page.lang].hideinfo }}</span>
                    </a>
                {% else %}
                    <p class="tooltip-toggle">{{ site.data.trans[page.lang].noinfo }}</p>
                {% endif %}
            </section>
        {% endfor %}
    </section>
</main>

<section id="about" class="info-block about">
    <div class="info-container">
        <div class="info-block-half">
            <h2>{{ site.data.trans[page.lang].whatisthis }}</h2>
            <p>{{ site.data.trans[page.lang].whatisthis1|safe }}</p>
            <p>{{ site.data.trans[page.lang].whatisthis4|safe }} <a href='https://github.com/sealldeveloper/incredibox-downloads-index'>{{ site.data.trans[page.lang].pullrequest|safe }}</a>.</p>
        </div>
        <div class="info-block-half">
            <h2>{{ site.data.trans[page.lang].guide }}</h2>
            <p>{{ site.data.trans[page.lang].guideexplanations }}</p>
            <ul>
                <li class="downloadable"><span class="availability">{{ site.data.trans[page.lang].availability_downloadable|safe }}</span> - {{ site.data.trans[page.lang].guidedownloadable|safe }}</li>
                <li class="partially"><span class="availability">{{ site.data.trans[page.lang].availability_partially|safe }}</span> - {{ site.data.trans[page.lang].guidepartially|safe }}</li>
                <li class="unfinished"><span class="availability">{{ site.data.trans[page.lang].availability_unfinished|safe }}</span> - {{ site.data.trans[page.lang].guideunfinished|safe }}</li>
                <li class="lost"><span class="availability">{{ site.data.trans[page.lang].availability_lost|safe }}</span> - {{ site.data.trans[page.lang].guidelost|safe }}</li>
                <li class="unavailable"><span class="availability">{{ site.data.trans[page.lang].availability_unavailable|safe }}</span> - {{ site.data.trans[page.lang].guideunavailable|safe }}</li>
            </ul>
        </div>
    </div>
</section>

<!-- Language dropdown -->
<div id="language-dropdown" class="language-dropdown dropdown dropdown-tip dropdown-relative">
    <ul class="dropdown-menu">
        {% assign sorted_files = (site.data.trans | sort:0) %}
        {% for lang in sorted_files %}
            {% assign lang_code = lang[0] %}
            {% if lang_code == 'en' %}
                {% assign url = './' %}
            {% else %}
                {% assign url = lang_code %}
            {% endif %}
            <li class="{{ lang_code }}"><a href="{{ url }}">{{ site.data.trans[lang_code].name }}</a></li>
        {% endfor %}
    </ul>
</div>

<!-- Alphabetical sorting -->
<div id="alphabetical-dropdown" class="dropdown dropdown-tip">
    <ul class="dropdown-menu ltr">
        <span class="alpha-sort">
            {% assign letters = 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z' | split:',' %}
            {% for letter in letters %}
            <li><a href="">{{ letter }}</a></li>
            {% endfor %}
        </span>
    </ul>
</div>

<div id="number-dropdown" class="dropdown dropdown-tip">
    <ul class="dropdown-menu ltr">
        <span class="alpha-sort">
            {% assign numbers = '0,1,2,3,4,5,6,7,8,9' | split:',' %}
            {% for number in numbers %}
            <li><a href="">{{ number }}</a></li>
            {% endfor %}
        </span>
    </ul>
</div>

<div id="availability-dropdown" class="dropdown dropdown-tip">
    <ul class="dropdown-menu">
        <span class="diff-sort">
            {% assign difficulties = 'downloadable,partially,unfinished,lost,unavailable' | split:',' %}
            {% for availability in difficulties %}
                {% capture availability_value %}availability_{{ availability }}{% endcapture %}
                <li><a href="#">{{ site.data.trans[page.lang][availability_value] }}</a></li>
            {% endfor %}
        </span>
    </ul>
</div>
