<section class="info-block">
    <div class="info-container">
        <footer>
            {{ site.data.trans[page.lang].footercredits }}
                <a href='https://rknight.me/'>Robb Knight</a>, <a href='https://github.com/edpoole'>Ed Poole</a> & <a href='https://github.com/sealldeveloper'>sealldeveloper</a>
                | <a href='https://github.com/sealldeveloper/incredibox-downloads-index'> {{ site.data.trans[page.lang].contribute }} </a>
        </footer>
    </div>
</section>

</body>
</html>
